@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f8fc;
  /* max-width: 1800px; */
}

/* Estilos Header */

header {
  position: fixed;
  width: 100%;
  height: 78px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar-brand {
  font-size: 20px !important;
}

.container-fluid {
  max-width: 1024px;
  display: flex !important;
  align-items: center;
  font-family: 'Poppins', 'Montserrat';
  font-weight: 500;
  padding: 10px;
}

.navbar-center {
  justify-content: end;
}

.nav-link {
  margin: 0px 15px;
  color: #000 !important;
}

.nav-link:hover {
  color: #6e57e0 !important;
  border-bottom: 2px solid #6e57e0;
}

.inicial {
  color: #6e57e0;
}


/* Estilos Home */


.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 200px 300px;
  grid-gap: 40px;
  color: #000;
  font-family: "Montserrat";
}

.banner .hola {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1.5px;
}

.banner .nombre {
  font-size: 6rem;
  color: #6e57e0;
  font-weight: bold;
}

.banner .profesion {
  font-size: 3rem;
  font-weight: 500;
}

.myphoto img {
  width: 500px;
}

.cta {
  font-family: "Montserrat";
  text-decoration: none;
  padding: 5px 25px;
  color: #000;
  border: 3px solid #6e57e0;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  transition: 0.3s ease all;
}

.cta:hover {
  color: white;
  background-color: #6e57e0;
  transition: 0.3s ease all;
}

/* Estilos Sobre Mi */

.about {
  font-family: "Poppins", sans-serif;
  padding: 0px 200px;
  margin-bottom: 100px;
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.about .about-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about .about-content .left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about .about-content .right {
  width: 50%;
  padding: 35px;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 5px;

}

.about .about-content .right .text {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.about .about-content .right p {
  text-align: left;
  font-size: 22px;
  margin-bottom: 30px;
}

/* Cards */

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 50px 200px;
}

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  margin-top: 5px;
}

.caja .card {
  width: 340px;
  height: 480px;
  border-radius: 15px;
}

.caja .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fafafa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.caja .card:hover .box {
  transform: translateY(-40px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.caja .card .box .content {
  padding: 20px;
  text-align: center;
}

.caja .card .box .content img {
  width: 100%;
  border-radius: 5px;
  opacity: 0.8;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.caja .card:hover .box .content img {
  opacity: 0.9;
}

.caja .card .box .content h3 {
  font-size: 1.9rem;
  color: rgb(46, 46, 46);
  z-index: 1;
  transition: 0.5s;
  font-weight: 500;
}

.caja .card .box .content p {
  font-size: 1em;
  font-weight: 400;
  color: #111;
  z-index: 1;
  transition: 0.5s;
}

.caja .card:hover .box .content h3,
.caja .card:hover .box .content p {
  color: #fff;
}

.caja .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.caja .card:hover .box .content a {
  background: #ff568f;
}

@media (max-width: 1600px) {
  header .logo {
    font-size: 2rem;
  }

  header ul li a {
    font-size: 1rem;
  }

  .container {
    margin: -150px 0px;
  }

  .banner .hola {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .banner .nombre {
    font-size: 3.5rem;
    color: #6e57e0;
    font-weight: bold;
  }

  .banner .profesion {
    font-size: 2rem;
    font-weight: 400;
  }

  .typing {
    font-weight: 600;
    color: #6e57e0;
  }

  .cta {
    font-size: 1.5rem;
  }

  .myphoto img {
    width: 400px;
    margin-left: 120px;
    margin-top: -200px;
  }
}

@media (max-width: 1366px) {
  header .logo {
    font-size: 2rem;
  }

  header ul li a {
    font-size: 1rem;
  }

  .container {
    margin: -150px 0px;
  }

  .banner .hola {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .banner .nombre {
    font-size: 3.5rem;
    color: #6e57e0;
    font-weight: bold;
  }

  .banner .profesion {
    font-size: 2rem;
    font-weight: 400;
  }

  .typing {
    font-weight: 600;
    color: #6e57e0;
  }

  .cta {
    font-size: 1.5rem;
  }

  .myphoto img {
    width: 400px;
    margin-left: 120px;
    margin-top: -200px;
  }
}

@media (max-width: 1280px) {
  header .logo {
    font-size: 2rem;
  }

  header ul li a {
    font-size: 1rem;
  }

  .container {
    margin: -150px 0px;
  }

  .banner .hola {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .banner .nombre {
    font-size: 4rem;
    color: #6e57e0;
    font-weight: bold;
  }

  .banner .profesion {
    font-size: 2rem;
    font-weight: 400;
  }

  .typing {
    font-weight: 600;
    color: #6e57e0;
  }

  .cta {
    font-size: 1.5rem;
  }

  .myphoto img {
    width: 400px;
    margin-left: 120px;
    margin-top: -200px;
  }

  .about .title::after {
    font-size: 20px;
    padding: 5px;
  }

  .about .about-content .right .text {
    font-size: 2rem;
  }

  .about .about-content .right p {
    font-size: 1rem;
  }

  .about .about-content .right a {
    font-size: 1rem;
    margin-top: 5px;
  }

  .servicios h2::after {
    font-size: 20px;
    padding: 5px;
  }
}

@media (max-width: 1024px) {
  header .logo {
    font-size: 2rem;
  }

  header ul li a {
    font-size: 1rem;
  }

  .container {
    margin: -150px 0px;
  }

  .banner .hola {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .banner .nombre {
    font-size: 3.5rem;
    color: #6e57e0;
    font-weight: bold;
  }

  .banner .profesion {
    font-size: 2rem;
    font-weight: 400;
  }

  .typing {
    font-weight: 600;
    color: #6e57e0;
  }

  .cta {
    font-size: 1.5rem;
  }

  .myphoto img {
    width: 400px;
    margin-left: 120px;
    margin-top: 150px;
  }
}
