@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f8fc;
}

/* Estilos Header */

header {
  position: fixed;
  width: 100%;
  height: 78px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar-brand {
  font-size: 20px !important;
}

.container-fluid {
  max-width: 1024px;
  display: flex !important;
  align-items: center;
  font-family: 'Poppins', 'Montserrat';
  font-weight: 500;
  padding: 10px;
}

.navbar-center {
  justify-content: end;
}

.nav-link {
  margin: 0px 15px;
  color: #000 !important;
}

.nav-link:hover {
  color: #6e57e0 !important;
  border-bottom: 2px solid #6e57e0;
}

.inicial {
  color: #6e57e0;
}


/* Estilos Home */


.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 200px 300px;
  grid-gap: 40px;
  color: #000;
  font-family: "Montserrat";
}

.banner .hola {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -1.5px;
}

.banner .nombre {
  font-size: 6rem;
  color: #6e57e0;
  font-weight: bold;
}

.banner .profesion {
  font-size: 3rem;
  font-weight: 500;
}

.myphoto img {
  width: 500px;
}

.cta {
  font-family: "Montserrat";
  text-decoration: none;
  padding: 5px 25px;
  color: #000;
  border: 3px solid #6e57e0;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 15px;
  transition: 0.3s ease all;
}

.cta:hover {
  color: white;
  background-color: #6e57e0;
  transition: 0.3s ease all;
}

/* Estilos About */

.about {
  font-family: "Poppins", sans-serif;
  padding: 0px 200px;
  margin-bottom: 100px;
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.about .about-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.about .about-content .left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about .about-content .right {
  width: 50%;
  padding: 35px;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 5px;

}

.about .about-content .right .text {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.about .about-content .right p {
  text-align: left;
  font-size: 22px;
  margin-bottom: 30px;
}


/* Estilos Skills */

.skills-container {
  padding: 50px 300px;
  margin-bottom: 30px;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: initial;
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  /* border: #000 1px solid; */
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins';
  transition: .3s ease all;
}

.skills-data:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.4);
  transition: .3s ease all;
}

.skills-names {
  display: flex;
  align-items: center;
}

.skills-names img {
  margin-right: 2rem;
}

.skills-name {
  font-weight: 600;
}

.skills-level {
  font-weight: 600;
}


/* Estilos Cards */

.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 50px 200px;
}

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  margin-top: 5px;
}

.caja .card {
  width: 340px;
  height: 480px;
  border-radius: 15px;
}

.caja .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fafafa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.caja .card:hover .box {
  transform: translateY(-40px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.caja .card .box .content {
  padding: 20px;
  text-align: center;
}

.caja .card .box .content img {
  width: 100%;
  border-radius: 5px;
  opacity: 0.8;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.caja .card:hover .box .content img {
  opacity: 0.9;
}

.caja .card .box .content h3 {
  font-size: 1.9rem;
  color: rgb(46, 46, 46);
  z-index: 1;
  transition: 0.5s;
  font-weight: 500;
}

.caja .card .box .content p {
  font-size: 1em;
  font-weight: 400;
  color: #111;
  z-index: 1;
  transition: 0.5s;
}

.caja .card:hover .box .content h3,
.caja .card:hover .box .content p {
  color: #fff;
}

.caja .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #6e57e0;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.caja .card:hover .box .content a {
  background: #ff568f;
}

/* Estilos Contact */

.container-contact {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.contact {
	padding: 60px 0;
}

.contact .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #3895ea;
	text-align: center;
}

.contact .formulario {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact .formulario input[type='text'],
.contact .formulario input[type='email'],
.contact .formulario textarea {
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
}

.contact .formulario input[type='text']:focus,
.contact .formulario input[type='email']:focus,
.contact .formulario input textarea:focus {
	border: 2px solid #3895ea;
}

.contact .formulario input[type='text'],
.contact .formulario input[type='email'] {
	width: 49%;
	margin-bottom: 15px;
}

.contact .formulario textarea {
	width: 100%;
	height: 100px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 200px;
	margin-bottom: 15px;
}

.contact .formulario .cta {
	margin: auto;
}

/* Estilos Footer */

footer .redes-sociales {
	background: #160f3b;
	padding: 30px 0;
  transition: .3s ease all;
}

footer .redes-sociales .contenedor {
	display: flex;
	justify-content: center;
}

footer .redes-sociales a {
	color: #fff;
	text-align: center;
	width: 100px;
  /* height: 100px; */
  align-items: center;
	display: block;
	padding: 15px 0;
	font-size: 30px;
	margin: 20px 0;
}

footer .redes-sociales .linkedin:hover {
	background: #0077b5;
  transition: .3s ease all;
}

footer .redes-sociales .twitter:hover {
	background: #1da1f2;
  transition: .3s ease all;
}

footer .redes-sociales .github:hover {
	background: #6e5494;
  transition: .3s ease all;
}

footer .redes-sociales .whatsapp:hover {
	background: #25d366;
  transition: .3s ease all;
}

footer .redes-sociales .instagram:hover {
	background: #e1306c;
  transition: .3s ease all;
}